@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:after,
:before {
  @apply box-border;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-body font-inter text-[14px] leading-[1.43] text-white;
}

section {
  @apply py-[56px] md:py-[64px] xl:py-[104px];
}

h1,
h2 {
  @apply text-[40px] font-thin uppercase leading-[1.4] tracking-[-1.6px] md:text-[67px] 
  md:leading-[1.21] md:tracking-[-2.68px] xl:text-[98px] xl:tracking-[-3.92px];
}

p {
  @apply font-extralight md:text-[16px] md:leading-[1.25] xl:text-[18px] xl:leading-[1.33];
}

/* hero */

.frame:before {
  content: '';
  @apply absolute left-0 h-[53px] w-[42px] bg-[url('/icons/frame-l_sm.svg')];
  @apply md:h-[50px] md:w-[35px] md:bg-[url('/icons/frame-l_md.svg')];
  @apply xl:h-[71px] xl:w-[44px] xl:bg-[url('/icons/frame-l_lg.svg')];
}

.frame:after {
  content: '';
  @apply absolute right-0 h-[53px] w-[42px] bg-[url('/icons/frame-r_sm.svg')];
  @apply md:h-[50px] md:w-[35px] md:bg-[url('/icons/frame-r_md.svg')];
  @apply xl:h-[71px] xl:w-[44px] xl:bg-[url('/icons/frame-r_lg.svg')];
}

.hero-bg {
  background-repeat: no-repeat;
  background-size:
    auto 287px,
    cover,
    cover;
  background-image: linear-gradient(180deg, rgba(0, 24, 38, 0.75) 0%, rgba(0, 37, 49, 0) 100%),
    linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
    image-set(url('/images/hero/hero_sm@1x.webp') 1x, url('/images/hero/hero_sm@2x.webp') 2x);

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(180deg, rgba(0, 24, 38, 0.75) 0%, rgba(0, 37, 49, 0) 100%),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(url('/images/hero/hero_md@1x.webp') 1x, url('/images/hero/hero_md@2x.webp') 2x);
  }

  @media screen and (min-width: 1280px) {
    background-size:
      auto 146px,
      cover,
      cover;

    background-image: linear-gradient(180deg, rgba(0, 24, 38, 0.5) 0%, rgba(0, 37, 49, 0) 100%),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(url('/images/hero/hero_lg@1x.webp') 1x, url('/images/hero/hero_lg@2x.webp') 2x);
  }
}

/* About */

.about-bg {
  background-repeat: no-repeat;
  background-size:
    auto 247px,
    cover,
    cover;

  background-image: linear-gradient(180deg, rgba(0, 24, 38, 0.75) 0%, rgba(0, 37, 49, 0) 100%),
    linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
    image-set(url('/images/about/about_xs@1x.webp') 1x, url('/images/about/about_xs@2x.webp') 2x);

  @media screen and (min-width: 480px) {
    background-image: linear-gradient(180deg, rgba(0, 24, 38, 0.75) 0%, rgba(0, 37, 49, 0) 100%),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(url('/images/about/about_sm@1x.webp') 1x, url('/images/about/about_sm@2x.webp') 2x);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(180deg, rgba(0, 24, 38, 0.75) 0%, rgba(0, 37, 49, 0) 100%),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(url('/images/about/about_md@1x.webp') 1x, url('/images/about/about_md@2x.webp') 2x);
  }

  @media screen and (min-width: 1280px) {
    background-size:
      auto 257px,
      auto 257px,
      cover,
      cover;

    background-position: bottom, top, top, top;

    background-image: linear-gradient(180deg, rgba(0, 24, 38, 0.5) 0%, rgba(0, 37, 49, 0) 100%),
      linear-gradient(180deg, rgba(0, 24, 38, 0.75) 0%, rgba(0, 37, 49, 0) 100%),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(url('/images/about/about_lg@1x.webp') 1x, url('/images/about/about_lg@2x.webp') 2x);
  }
}
