@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common styles */
*,
:after,
:before {
  @apply box-border;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-body font-inter text-[14px] leading-[1.43] text-white;
}

section {
  @apply py-[56px] md:py-[64px] xl:py-[104px];
}

h1,
h2 {
  @apply text-[40px] font-thin uppercase leading-[1.4] tracking-[-1.6px] md:text-[67px] 
  md:leading-[1.21] md:tracking-[-2.68px] xl:text-[98px] xl:tracking-[-3.92px];
}

p {
  @apply font-extralight md:text-[16px] md:leading-[1.25] xl:text-[18px] xl:leading-[1.33];
}

/* hero */

.frame::before {
  content: '';
  @apply absolute left-0 h-[53px] w-[42px] bg-[url('/icons/frame-l_sm.svg')];
  @apply md:h-[50px] md:w-[35px] md:bg-[url('/icons/frame-l_md.svg')];
  @apply xl:h-[71px] xl:w-[44px] xl:bg-[url('/icons/frame-l_lg.svg')];
}

.frame::after {
  content: '';
  @apply absolute right-0 h-[53px] w-[42px] bg-[url('/icons/frame-r_sm.svg')];
  @apply md:h-[50px] md:w-[35px] md:bg-[url('/icons/frame-r_md.svg')];
  @apply xl:h-[71px] xl:w-[44px] xl:bg-[url('/icons/frame-r_lg.svg')];
}

.hero-bg {
  background-repeat: no-repeat;
  background-size:
    auto 287px,
    cover,
    cover;

  background-image: linear-gradient(180deg, rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0)),
    linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
    image-set(url('/images/hero/hero_sm@1x.webp') 1x, url('/images/hero/hero_sm@2x.webp') 2x);

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(180deg, rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0)),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(url('/images/hero/hero_md@1x.webp') 1x, url('/images/hero/hero_md@2x.webp') 2x);
  }

  @media screen and (min-width: 1280px) {
    background-size:
      auto 146px,
      cover,
      cover;

    background-image: linear-gradient(180deg, rgba(0, 24, 38, 0.5), rgba(0, 37, 49, 0)),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(url('/images/hero/hero_lg@1x.webp') 1x, url('/images/hero/hero_lg@2x.webp') 2x);
  }
}

/* About */

.about-bg {
  background-repeat: no-repeat;
  background-size:
    auto 247px,
    cover,
    cover;

  background-image: linear-gradient(180deg, rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0)),
    linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
    image-set(url('/images/about/about_xs@1x.webp') 1x, url('/images/about/about_xs@2x.webp') 2x);

  @media screen and (min-width: 480px) {
    background-image: linear-gradient(180deg, rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0)),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(url('/images/about/about_sm@1x.webp') 1x, url('/images/about/about_sm@2x.webp') 2x);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(180deg, rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0)),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(url('/images/about/about_md@1x.webp') 1x, url('/images/about/about_md@2x.webp') 2x);
  }

  @media screen and (min-width: 1280px) {
    background-size:
      auto 257px,
      auto 257px,
      cover,
      cover;

    background-position: bottom, top, top, top;

    background-image: linear-gradient(180deg, rgba(0, 36, 38, 0), rgba(0, 37, 49, 0.5)),
      linear-gradient(180deg, rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0)),
      linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(url('/images/about/about_lg@1x.webp') 1x, url('/images/about/about_lg@2x.webp') 2x);
  }
}

/* Career */

.checkbox::before {
  content: '';
  @apply absolute left-0 h-[22px] w-[22px] xl:h-[24px] xl:w-[24px];
}

.career-bg {
  background-repeat: no-repeat;
  background-position:
    top,
    bottom,
    top,
    top center;
  background-size:
    cover,
    auto 247px,
    auto 247px,
    cover;
  background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    linear-gradient(180deg, rgba(0, 24, 38, 0), rgba(0, 37, 49, 0.75)),
    linear-gradient(180deg, rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0)),
    image-set(
      url('/images/career/career_xs@1x.webp') 1x,
      url('/images/career/career_xs@2x.webp') 2x
    );

  @media screen and (min-width: 480px) {
    background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
      linear-gradient(180deg, rgba(0, 24, 38, 0), rgba(0, 37, 49, 0.75)),
      linear-gradient(180deg, rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0)),
      image-set(
        url('/images/career/career_sm@1x.webp') 1x,
        url('/images/career/career_sm@2x.webp') 2x
      );
  }

  @media screen and (min-width: 768px) {
    background-position: top, bottom, top, center;

    background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
      linear-gradient(180deg, rgba(0, 24, 38, 0), rgba(0, 37, 49, 0.75)),
      linear-gradient(180deg, rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0)),
      image-set(
        url('/images/career/career_md@1x.webp') 1x,
        url('/images/career/career_md@2x.webp') 2x
      );
  }

  @media screen and (min-width: 1280px) {
    background-size: cover;
    background-position: center;

    background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
      image-set(
        url('/images/career/career_md@1x.webp') 1x,
        url('/images/career/career_md@2x.webp') 2x
      );
  }
}

/* Gallery */
.gallery-bg {
  background-repeat: no-repeat;
  background-size:
    cover,
    auto 247px,
    auto 247px,
    cover;
  background-position: top, bottom, top, center;

  background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    linear-gradient(180deg, rgba(0, 24, 38, 0), rgba(0, 37, 49, 0.75)),
    linear-gradient(180deg, rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0)),
    image-set(
      url('/images/gallery/gallery-bg_sm@1x.webp') 1x,
      url('/images/gallery/gallery-bg_sm@2x.webp') 2x
    );

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(2, 15, 8, 0.85), rgba(2, 15, 8, 0.85)),
      linear-gradient(180deg, rgba(0, 24, 38, 0), rgba(0, 37, 49, 0.75)),
      linear-gradient(180deg, rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0)),
      image-set(
        url('/images/gallery/gallery-bg_md@1x.webp') 1x,
        url('/images/gallery/gallery-bg_md@2x.webp') 2x
      );
  }

  @media screen and (min-width: 1280px) {
    background-size:
      cover,
      auto 303px,
      auto 303px,
      cover;

    background-image: linear-gradient(rgba(2, 15, 8, 0.85), rgba(2, 15, 8, 0.85)),
      linear-gradient(180deg, rgba(0, 24, 38, 0), rgba(0, 37, 49, 0.75)),
      linear-gradient(180deg, rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0)),
      image-set(
        url('/images/gallery/gallery-bg_lg@1x.webp') 1x,
        url('/images/gallery/gallery-bg_lg@2x.webp') 2x
      );
  }
}

/* Contacts */
.contacts-link {
  @apply text-[14px] font-normal leading-[1.71] md:text-[16px] md:leading-[1.5] xl:text-[18px] xl:leading-[1.33];
}

.contacts-bg {
  background-repeat: no-repeat;
  background-size:
    cover,
    auto 247px,
    auto 247px,
    cover;
  background-position: top, bottom, top, center;

  background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
    linear-gradient(180deg, rgba(0, 24, 38, 0), rgba(0, 37, 49, 0.75)),
    linear-gradient(180deg, rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0)),
    image-set(
      url('/images/contacts/contacts_sm@1x.webp') 1x,
      url('/images/contacts/contacts_sm@2x.webp') 2x
    );

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
      linear-gradient(180deg, rgba(0, 24, 38, 0), rgba(0, 37, 49, 0.75)),
      linear-gradient(180deg, rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0)),
      image-set(
        url('/images/contacts/contacts_md@1x.webp') 1x,
        url('/images/contacts/contacts_md@2x.webp') 2x
      );
  }

  @media screen and (min-width: 1280px) {
    background-size:
      cover,
      auto 293px,
      auto 293px,
      cover;

    background-image: (rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75)),
      linear-gradient(180deg, rgba(0, 24, 38, 0), rgba(0, 37, 49, 0.75)),
      linear-gradient(180deg, rgba(0, 24, 38, 0.75), rgba(0, 37, 49, 0)),
      image-set(
        url('/images/contacts/contacts_lg@1x.webp') 1x,
        url('/images/contacts/contacts_lg@2x.webp') 2x
      );
  }
}

/* .swiper-slide {
  height: 187px;
} */
